<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.share.listeners.CustomListeners" />
	</listeners>


	<test name="GitHub Sync">
		<classes>
			<class name="com.share.testcase.GitHubSync" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->