<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.share.listeners.CustomListeners" />

	</listeners>


	<test name="BankManagerLoginTest">
		<classes>
			<class name="com.share.testcase.BankManagerLoginTest" />
		</classes>
	</test> <!-- Test -->

	<test name="Add Customer Test">
		<classes>
			<class name="com.share.testcase.AddCustomerTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->